@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

header{
    max-width: 1440px;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap:15px;
    padding:15px;
    flex-wrap: wrap;
    align-items: center;
}

header nav ul{
    list-style: none;
    display: flex;
    gap:30px;
}

header nav ul a{
    color:#000;
    text-decoration: none;
    transition: 0.3s;
}

header nav ul a:hover,{
    color: #61ce70;
    transition: ease-in-out 0.3s;
}

header img{
    width: 250px;
}

footer article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    background-color: #363450;
    color: #fff;
    list-style: none;
    padding: 50px 40px;
}

footer .class1 h2{
    margin-bottom: 15px;
}

footer li a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
    
footer li a:hover{
    color:#61ce70;;
    transition: ease-in-out 0.3s;
}

footer li{
    margin-bottom: 25px;
}

footer h2{
    margin-top: 25px;
    margin-bottom: 25px;
}

footer .class5 p{
    text-align: center;
    padding: 30px;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main h2{
    font-family: Pacifico;
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #E34E67;
}

main h1{
    font-family: Oswald;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    vertical-align: middle;
    color: #423B73;
}

main p{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    color: #423B73;
    margin-top: 35px;
}

main div.class1{
    align-self: center;
    width: 400px;
    margin: auto;
}

main div.class2 img{
    width: 100%;
    padding: 50px;
}
